<h1>All books in bookcase</h1>
{% for book in object_list %}
  <ul>
      <li>
          Title: {{ book.book }}
      </li>
<!--      <li>-->
<!--          Genre: {{ book.genre }}-->
<!--      </li>-->
<!--      <li>-->
<!--          Author: {{ book.author }}-->
<!--      </li>-->
<!--      <li>-->
<!--          Rate: {{ book.rate }}-->
<!--      </li>-->
      <li>
          UserRate: {{ book.userRate }}
      </li>
      <li>
          Read: {{ book.read }}
      </li>
<!--      <li>-->
<!--          ISBN: {{ book.isbn }}-->
<!--      </li>-->
  </ul>
{% endfor %}
  