{% extends 'index.html' %}
{% block content %}

<h1>Users books</h1>


<ul>
    <div id="data-rows"></div>
</ul>

<script>
bookList()

function bookList()
{
    var content = document.getElementById("data-rows")
    var url = 'http://localhost:8000/api/userBook-list/'

    fetch(url)
    .then((resp) => resp.json())
    .then(function(data)
        {
            console.log('Data:', data)
            var item=""
            for(var book in data)
            {
                item += `
                <li id="title${data[book].id}" value = "${data[book].book.title}">${data[book].book.title}</li>
                <li id="author${data[book].id}" value = "${data[book].book.author}">${data[book].book.author}</li>
                <li id="genre${data[book].id}" value = "${data[book].book.genre}">${data[book].book.genre}</li>
                <li>${data[book].book.rate}</li>
                <li id="userRate${data[book].id}" value = "${data[book].userRate}">${data[book].userRate}</li>
                <li id="read${data[book].id}" data-value = "${data[book].read}">${data[book].read}</li>

                {% if user.is_authenticated %}
                <button name="pk" onclick = "bookDelete(${data[book].id})" value=${data[book].id}>Delete</button>
                <button name="read" onclick = "userBookUpdate(${data[book].id})" >Read/Unread</button>
                {% endif %}
                </br></br></br>`
            }
            content.innerHTML += item
        })
}

function getCookie(name)
{
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function bookDelete(id)
{
    var csrftoken = getCookie('csrftoken');
    console.log('delete clicked')

    var url = "http://localhost:8000/api/userBook-delete/" + id + ""

    fetch(url, {
        method:'POST',
        headers:{'Content-type':'application/json',
              'X-CSRFToken':csrftoken
          }
     })
    .then(function(response)
    {
        console.log('Response:', response)
        location.reload();
    })
}

function userBookUpdate(id)
{
    var csrftoken = getCookie('csrftoken');
    console.log('form submitted')

    var url = "http://localhost:8000/api/userBook-update/" + id + ""

    var read = document.getElementById("read"+id).dataset.value
    var userRate = document.getElementById("userRate"+id).value
    var title = document.getElementById("title"+id).value
    var genre = document.getElementById("genre"+id).value
    var author = document.getElementById("author"+id).value

    console.log(document.getElementById("read"+id))

    console.log(read)
    if(read == "false")
    read = "true"
    else
    read = "false"
    console.log(read)

    fetch(url, {
        method:'POST',
        headers:{'Content-type':'application/json',
              'X-CSRFToken':csrftoken
          },
        body:JSON.stringify({
        'user':{'username': 'a'},
        'book': {
            'title': title,
            'author': author
        },
        'userRate': userRate,
        'read':read
        })
     })
    .then(function(response)
    {
        console.log('Response:', response)
        location.reload();
    })
}

</script>


{% endblock %}