{% extends 'index.html' %}
{% block content %}

<h1>Users books</h1>


<ul>
    <div id="data-rows"></div>
</ul>

<script>
bookList()

function showHide(id)
{
  var x = document.getElementById("userateDiv"+id);
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function rate(id)
{
    var userRate = document.getElementById("userRate"+id)
    var rate = document.getElementById("userate"+id)
    userRate.value = rate.value
    showHide(id)
    userBookUpdate(id)
}
function read(id)
{
    var read = document.getElementById("read"+id)
    console.log(read.dataset.value)

    if(read.dataset.value == "false")
        read.dataset.value = "true"
    else
        read.dataset.value = "false"

    console.log(read.dataset.value)

    userBookUpdate(id)
}


function bookList()
{
    var content = document.getElementById("data-rows")
    var url = 'http://localhost:8000/api/userBook-list/'

    fetch(url)
    .then((resp) => resp.json())
    .then(function(data)
        {
            console.log('Data:', data)
            var item=""
            for(var book in data)
            {
                var userrate=""

                if (data[book].userRate != 0)
                    userrate = `<li id="userRate${data[book].id}" value = "${data[book].userRate}">MyRate: ${data[book].userRate}</li>`

                else
                    userrate = `<li id="userRate${data[book].id}" value = "${data[book].userRate}">MyRate: NO RATE</li>`

                item += `
                <li id="title${data[book].id}" value = "${data[book].book.title}">Title: ${data[book].book.title}</li>
                <li id="author${data[book].id}" value = "${data[book].book.author}">Author: ${data[book].book.author}</li>
                <li id="genre${data[book].id}" value = "${data[book].book.genre}">Genre: ${data[book].book.genre}</li>
                <li>Global rate: ${data[book].book.rate}</li>

                `+userrate+`


                <div id="userateDiv${data[book].id}" style="display: none;">
                <label>Choose a rate:</label>
                <select id="userate${data[book].id}">
                  <option value="0">NO RATE</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>

                <button name="rate" onclick = "rate(${data[book].id})" value=${data[book].id}>changeRate</button>
                </div>
                <button name="showHide" onclick = "showHide(${data[book].id})" }>RATE</button>

                <li id="read${data[book].id}" data-value = "${data[book].read}">Read: ${data[book].read}</li>

                <button name="pk" onclick = "bookDelete(${data[book].id})" value=${data[book].id}>Delete</button>
                <button name="read" onclick = "read(${data[book].id})" >Read/Unread</button>

                </br></br></br>`
            }
            content.innerHTML += item
        })
}

function getCookie(name)
{
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function bookDelete(id)
{
    var csrftoken = getCookie('csrftoken');
    console.log('delete clicked')

    var url = "http://localhost:8000/api/userBook-delete/" + id + ""

    fetch(url, {
        method:'POST',
        headers:{'Content-type':'application/json',
              'X-CSRFToken':csrftoken
          }
     })
    .then(function(response)
    {
        console.log('Response:', response)
        location.reload();
    })
}

function userBookUpdate(id)
{
    var csrftoken = getCookie('csrftoken');
    console.log('form submitted')

    var url = "http://localhost:8000/api/userBook-update/" + id + ""

    var read = document.getElementById("read"+id).dataset.value
    var userRate = document.getElementById("userRate"+id).value
    var title = document.getElementById("title"+id).value
    var genre = document.getElementById("genre"+id).value
    var author = document.getElementById("author"+id).value

    fetch(url, {
        method:'POST',
        headers:{'Content-type':'application/json',
              'X-CSRFToken':csrftoken
          },
        body:JSON.stringify({
        'user':{'username': 'a'},
        'book': {
            'title': title,
            'author': author
        },
        'userRate': userRate,
        'read':read
        })
     })
    .then(function(response)
    {
        console.log('Response:', response)
        location.reload();
    })
}

</script>


{% endblock %}