{% load static %}
<html>

<head>
    <title>Django projekt</title>
    {% block head %}
    {% endblock %}
</head>
<body>
{% if user.is_authenticated %}
<button name="logout" onclick = "onLogoutClick()" >Logout</button>
{{user}}
<button name="changePassword" onclick = "onChangePasswordClick()" >changePassword</button>
{% else %}
<button name="login" onclick = "onLoginClick()" >Login</button>
{% endif %}
<button name="home" onclick = 'window.location.href = "http://localhost:8000"' >Home</button>
<!--window.location.href = "http://localhost:8000"-->

{% block content %}
{% endblock %}

<script>
    function onLogoutClick()
    {
        window.location.href = "http://localhost:8000/logout.html"
    }
    function onLoginClick()
    {
        window.location.href = "http://localhost:8000/login.html"
    }
    function onChangePasswordClick()
    {
        window.location.href = "http://localhost:8000/changePassword.html"
    }
</script>
</body>
</html>