<html><body>
<h1>Books</h1>

<form action="/modifyBook.html" method="get">
<ul>
    {% for book in books %}
    <li>{{ book.title }}</li>
    <li>{{ book.author }}</li>
    <li>{{ book.genre }}</li>
    <li>{{ book.rate }}</li>

    <button name="pk" type="submit" value={{book.id}}>Modify</button>
    <button name="pk" type="submit" value={{book.id}}>Delete</button>
    <button name="pk" type="submit" value={{book.id}}>AddToBookcase</button>
    </br></br></br>
    {% endfor %}
</ul>
</form>
</body></html>